Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.32
Flask-Migrate==4.0.7
Flask-Cors==4.0.1
APScheduler==3.10.4
fitparse==1.2.0
gevent==24.2.1
psycopg2-binary==2.9.9 ; sys_platform == 'linux' and python_version<'3.13' # optional
gunicorn==22.0.0
