{% extends 'base.html' %}
{% block content %}
<h3>Performance Trends</h3>
{% if SETTINGS.OFFLINE and SETTINGS.OFFLINE != '0' %}
<div class="alert alert-info">Offline mode enabled: charts are disabled (no external CDNs).</div>
{% else %}
<div class="row g-3">
  <div class="col-12 col-lg-6">
    <div id="tss" style="height: 320px"></div>
  </div>
  <div class="col-12 col-lg-6">
    <div id="p20" style="height: 320px"></div>
  </div>
  <div class="col-12">
    <div id="prdist" style="height: 320px"></div>
  </div>
</div>
<script>
(async function(){
  const tssRes = await fetch('/api/trends/tss');
  const tss = await tssRes.json();
  Plotly.newPlot('tss', [{x: tss.map(x=>x[0]), y: tss.map(x=>x[1]), type:'scatter', mode:'lines+markers', name:'TSS'}], {title:'TSS over time', xaxis:{type:'date'}}, {responsive:true});
  const pRes = await fetch('/api/trends/best20minpower');
  const p20 = await pRes.json();
  Plotly.newPlot('p20', [{x: p20.map(x=>x[0]), y: p20.map(x=>x[1]), type:'scatter', mode:'lines+markers', name:'Best 20min Power'}], {title:'Best 20min Power', xaxis:{type:'date'}}, {responsive:true});
  const prRes = await fetch('/api/trends/pr_distance');
  const prd = await prRes.json();
  Plotly.newPlot('prdist', [{x: prd.map(x=>x[0]), y: prd.map(x=>x[1]), type:'scatter', mode:'lines+markers', name:'PR Distance (km)'}], {title:'PR Distance over time', xaxis:{type:'date'}}, {responsive:true});
})();
</script>
{% endif %}
{% endblock %}
